

.work-experience-card {
    background: #0f162a;
    height: 340px;
    width: auto;
    border-radius: 0.65rem;
    border: 1.5px solid  #095397;
    padding: 1.5rem;
 
}


.work-experience-card h6 {
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

.work-duration {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400;
    background: rgba(14, 101, 200, 0.5);
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1.3rem;
}

.work-experience-card ul li {
    list-style: none;
    line-height: 1.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.7rem;
    position: relative;
}

.work-experience-card ul li::after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background:  #1870c2;
    border-radius: 0.5rem;
    position: absolute;
    left: -1.3rem;
    top: 0.2rem;
}

@media (max-width: 1025px) {
    .work-experience-card {
        height: 380px;
}
}

@media (max-width: 768px) {
    .work-experience-card {
        height: 320px;
       
   

}

    .work-experience-card ul li {
        font-size: 0.75rem;
    }

}

@media (max-width: 600px) {
  
    .work-experience-card {
        
        margin-left: 0rem;
    }
    .work-experience-card h6 {
        font-size: 0.8rem;
    }
    .work-experience-card ul li {
        font-size: 0.7rem;
        line-height: 1rem;
    }
    .work-experience-card {
        background: #0f162a;
        height: auto;
        width: 100%;
        border-radius: 0.65rem;
        border: 1.5px solid  #095397;
        padding: 1.5rem;
        
    }

}
@media (max-width: 380px) {
  
    .work-experience-card h6 {
        font-size: 0.8rem;
    }
    .work-experience-card ul li {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    .work-experience-card ul  {
        
        padding: 0px 0px 0px 28px;
        width: 100%;
    }
    .work-experience-card {
        background: #0f162a;
        height: auto;
        width: 110%;
        border-radius: 0.65rem;
        border: 1.5px solid  #095397;
        padding: 1.5rem;
        margin: 0 0rem;
        margin-left: 0rem;
    }


}